/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    /* Контент модального окна */
    .win-modal {
        padding: 35px 20px;
        border-radius: 15px;
        background-color: var(--bg-gray);
    }

    /* Текст "Проверьте, все ли данные верны" */
    .win-modal__text {
        font-size: 16px;

        margin-top: 20px;
    }

    /* Текст после отправки формы */
    .win-modal__text-big {
        font-weight: 700;
        font-size: 20px;

        margin-top: 30px;
    }
}