/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


:root {
    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-lightGray: #bebebe;
    --text-gray: #999999;
}


* {
    font-family: "Montserrat", sans-serif;
    color: #ff4483;
    font-size: 18px;
    font-weight: 400;
    word-break: break-word;
}